<form
  (ngSubmit)="submit();"
  [formGroup]="formGroup"
  name="message">
  <div>
    <div>
      <h3 style="margin: 0.5rem 0 0;">
        {{ (statusObservable | async) == "unsent" ? "Create an account" : ((statusObservable | async) == "pending" ? "Pending" + ellipsesService.ellipses() : "Complete") }}
      </h3>
    </div>
    <div>
      <h4
        id="nameInputLabel"
        style="margin: 0.5rem 0 0;">
        Name:
      </h4>
    </div>
    <input
      [required]="true"
      aria-labelledby="nameInputLabel"
      autocapitalize="words"
      autocomplete="name"
      autofocus
      formControlName="displayName"
      type="text">
  </div>
  <button
    [disabled]="(!authenticationService.user()) || (!formGroup.valid) || (statusObservable | async) !== 'unsent'"
    disabled=""
    type="submit">
    <img
      [src]="hyperResponsivityService.foregroundAppearance() ? '/assets/icons/submit.' + (authenticationService.user() && formGroup.valid && (statusObservable | async) == 'unsent' ? (hyperResponsivityService.foregroundAppearance() == 'light' ? 'dark' : 'light') : hyperResponsivityService.foregroundAppearance()) + '.svg' : ''"
      alt="Send message icon"
      height="14.9317px"
      width="15.9141px">
  </button>
</form>
