<form
  (ngSubmit)="submit();"
  [formGroup]="formGroup"
  name="message">
  <div>
    <div>
      <h3 style="margin: 0.5rem 0 0;">
        {{ status() == "unsent" ? "Create an account" : (status() == "pending" ? "Pending" + ellipsesService.ellipses() : "Complete") }}
      </h3>
    </div>
    <div>
      <h4
        id="nameInputLabel"
        style="margin: 0.5rem 0 0;">
        Name:
      </h4>
    </div>
    <input
      [required]="true"
      aria-labelledby="nameInputLabel"
      autocapitalize="words"
      autocomplete="name"
      autofocus
      formControlName="displayName"
      type="text">
  </div>
  <button
    [disabled]="!authenticationService.user() || !formGroup.valid || status() !== 'unsent'"
    disabled=""
    type="submit">
    <!--suppress HtmlUnknownTarget -->
    <img
      alt="Submit icon"
      class="foregroundIcon"
      height="14.9317px"
      [loaderParams]="{type: 'Icon'}"
      ngSrc="submit"
      ngSrcset="1x"
      sizes="15.9141px"
      width="15.9141px">
  </button>
</form>
