<article>
  <section>
    <p *ngIf="authenticationService.user()?.isAnonymous">
      You're not signed in.
    </p>
    <p *ngIf="authenticationService.user()?.isAnonymous == false">
      {{ (messagesService.messageDocuments()?.length || "Loading") + " message" + (messagesService.messageDocuments()?.length === 1 ? "." : "s.") }}
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid aut, consectetur cupiditate dicta dolor eaque error ex excepturi exercitationem libero mollitia, nihil obcaecati officia pariatur placeat provident quis quod repellendus rerum sequi sunt veniam veritatis. Animi aspernatur, aut corporis cum exercitationem fugit harum impedit magni maxime odit officia sint, suscipit temporibus vitae voluptatem. Ad aliquam at, autem culpa deserunt, dolore et ex ipsum labore nisi obcaecati odio provident reprehenderit, sit sunt unde voluptates. Aliquid id mollitia optio sed voluptatem.
    </p>
  </section>
</article>
