<div
  fxLayout="row"
  fxLayoutAlign="center"
  fxLayoutGap="1rem">
  <aside
    fxHide
    fxLayout="column">
    <div
      class="contact"
      fxLayout="column"
      fxLayoutGap="1rem">
      <form
        class="message-input"
        fxLayout="row"
        fxLayoutAlign="start end"
        fxLayoutGap="1rem"
        [formGroup]="messageForm">
        <textarea placeholder="Send a message" [rows]="(messageInputRows + 1) >= 2 ? (messageInputRows + 1) : 2" fxFlex="" fxLayout="column" #messageInput formControlName="message" (input)="adjustMessageInputRows();"></textarea>
        <button fxLayout="column">
          <img [src]="'/assets/message.' + (foregroundAppearanceObservable | async) + '.svg'" alt="Mail icon">
        </button>
      </form>
      <div
        fxLayout="row"
        fxLayoutGap="1rem">
        <button
          fxFlex=""
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="0.5rem"
          (click)="adjustMessageInputRows();">
          <img [src]="'/assets/phone.' + (foregroundAppearanceObservable | async) + '.svg'" alt="Phone icon">
          <div
            fxFlex=""
            fxLayout="column">
            Call
          </div>
        </button>
        <button
          fxFlex=""
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="0.5rem"
          (click)="adjustMessageInputRows();">
          <img [src]="'/assets/mail.' + (foregroundAppearanceObservable | async) + '.svg'" alt="Mail icon">
          <div
            fxFlex=""
            fxLayout="column">
            Mail
          </div>
        </button>
      </div>
      <div fxLayout="row">
        <div
          class="focus"
          fxFlex=""
          fxLayout="column">
          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="0.5rem">
            <div
              class="focus__indicator"
              fxLayout="column">
              <img [src]="'/assets/' + focus + '.' + (foregroundAppearanceObservable | async) + '.svg'" [alt]="focus + ' focus icon'">
            </div>
            <div
              class="focus__liveBadge"
              fxLayout="column">
              <img [src]="'/assets/bolt.horizontal.circle.svg'" alt="Live status">
            </div>
            <div
              fxFlex=""
              fxLayout="column">
              <h3>
                {{ focus }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
  <div
    fxFlex="29rem"
    fxLayout="column">
    <article fxLayout="column">
      <div>
        <h1>
          Education
        </h1>
        <h3 style="margin-bottom: 0;">
          Suffolk University
        </h3>
        <h5 style="margin-top: 0;">
          Fall '19-Spring '23 – The Sawyer Business School is accredited by the AACSB
        </h5>
        <p>
          Gavin is a BSBA candidate double-majoring in Global Business and Analytics and minoring in Cybersecurity.
        </p>
        <h3 style="margin-bottom: 0;">
          Don Quixote Language School
        </h3>
        <h5 style="margin-top: 0;">
          Spring '21 – Don Quixote is accredited by the Cervantes Institute
        </h5>
        <p>
          Gavin earned a B1-level certification for intermediate Spanish proficiency while living in Madrid.
        </p>
        <h3 style="margin-bottom: 0;">
          Suffolk University Madrid Campus
        </h3>
        <h5 style="margin-top: 0;">
          Spring '20-Fall '20
        </h5>
        <h3 style="margin-bottom: 0;">
          Saint Joseph Preparatory High School
        </h3>
        <h5 style="margin-top: 0;">
          Fall '15-Spring '19
        </h5>
      </div>
    </article>
    <article>
      <div>
        <h1>
          Technologies
        </h1>
      </div>
      <h3 style="margin-bottom: 0;">
        HTML, CSS, JavaScript
      </h3>
      <h5 style="margin-top: 0;">
        6 years
      </h5>
      <h3 style="margin-bottom: 0;">
        TypeScript, NodeJS, MongoDB, SQL, Git
      </h3>
      <h5 style="margin-top: 0;">
        4 years
      </h5>
      <h3 style="margin-bottom: 0;">
        Angular, Sass, AWS, RESTful APIs
      </h3>
      <h5 style="margin-top: 0;">
        3 years
      </h5>
      <h3 style="margin-bottom: 0;">
        Google Cloud Platform, Firebase, Amplify
      </h3>
      <h5 style="margin-top: 0;">
        2 years
      </h5>
      <h3 style="margin-bottom: 0;">
        Adobe Illustrator & Photoshop
      </h3>
      <h5 style="margin-top: 0;">
        2 years
      </h5>
    </article>
  </div>
</div>
