<article fxLayout="column">
  <div>
    <h1>
      Postsecondary Education
    </h1>
    <h3 style="margin-bottom: 0;">
      Suffolk University
    </h3>
    <h5 style="margin-top: 0;">
      Fall '19-Spring '23
    </h5>
    <p>
      Gavin is a BSBA candidate double-majoring in Global Business and Big Data and minoring in Cybersecurity.
    </p>
    <p>
      The Sawyer Business School is accredited by AACSB
    </p>
    <h3 style="margin-bottom: 0;">
      Don Quixote Language School
    </h3>
    <h5 style="margin-top: 0;">
      Spring '21
    </h5>
    <p>
      Gavin earned a B1-level certification for intermediate Spanish proficiency while living in Madrid.
    </p>
    <p>
      Don Quixote is accredited by the Cervantes Institute
    </p>
    <h3 style="margin-bottom: 0;">
      Suffolk University Madrid Campus
    </h3>
    <h5 style="margin-top: 0;">
      Spring '20-Fall '20
    </h5>
    <h1>
      Basic Education
    </h1>
    <h3 style="margin-bottom: 0;">
      Saint Joseph Preparatory High School
    </h3>
    <h5 style="margin-top: 0;">
      Fall '15-Spring '19
    </h5>
    <h3 style="margin-bottom: 0;">
      Saint Mary of the Annunciation School
    </h3>
    <h5 style="margin-top: 0;">
      Fall '07-Spring '15
    </h5>
  </div>
</article>

