\:host
  display: flex
  flex-direction: column
  width: 100%

  > div
    width: 100%

    .image
      width: 28rem
      background-image: url("https://via.placeholder.com/448x597")
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      margin-top: 1rem
      border-radius: 2.543875rem
      padding-bottom: 133.3333%
      overflow: hidden
