@import "../../colors"

\:host
  display: flex
  flex-direction: column

  div.image::after
    width: 100%
    content: ''
    //noinspection CssUnknownTarget
    background-image: url("/assets/photo.jpeg")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    margin: 1rem 0
    border-radius: 2.543875rem
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0px, rgba(0, 0, 0, 0.12) 0 1px 5px 0px
    padding-bottom: 133.3333%
    overflow: hidden

  aside div.contact
    margin: 1rem 0

    form.message-input
      textarea
        resize: none
        overflow: hidden
        background: transparent
        padding: 0 0 2.75px

        &:focus
          outline: none

      button
        border-radius: 50%
        padding: 0.75rem 0.84125rem

    div.focus
      text-align: center

      &__indicator
        border-radius: 50%
        padding: 0.75rem 0.84125rem

      &__liveBadge
        height: 100%
        margin-left: -1.25rem

      h3
        margin: 0

    a.button
      text-align: center

      &:hover
        text-decoration: none

    form.message-input,
    div.focus,
    button,
    a.button
      border-radius: 1rem
      padding: 0.75rem

    button,
    a.button
      &:hover
        cursor: pointer

      > div a
        color: inherit

    form.message-input textarea,
    button,
    a.button
      color: inherit
      border: 0

  article div div
    margin: 1rem 0

    ul
      margin: 0

  div.image,
  aside,
  article
    max-width: 29rem

  @mixin colors($body-foreground, $body-background, $footer-foreground, $footer-background, $degrade-foreground-function, $degrade-background-function)
    aside
      form.message-input,
      div.focus,
      div.focus__indicator,
      button,
      a.button
        background: transparentize(call(get-function($degrade-background-function), $body-background, 10%), 0.5)

  @include colors($body-dark, $body-light, $footer-dark, $footer-light, lighten, darken)

  @media (prefers-color-scheme: dark)
    @include colors($body-light, $body-dark, $footer-light, $footer-dark, darken, lighten)
