<aside
  fxHide
  fxLayout="column"
  fxLayoutGap="1rem">
  <form
    class="message-input"
    fxLayout="row"
    fxLayoutAlign="start end"
    fxLayoutGap="1rem"
    [formGroup]="messageForm">
    <textarea placeholder="Send a message" [rows]="(messageInputRows + 1) >= 2 ? (messageInputRows + 1) : 2" fxFlex="" fxLayout="column" #messageInput formControlName="message" (input)="adjustMessageInputRows();"></textarea>
    <button fxLayout="column">
      <img [src]="'/assets/message.' + (foregroundAppearanceObservable | async) + '.svg'" alt="Mail icon">
    </button>
  </form>
  <div
    fxLayout="row"
    fxLayoutGap="1rem">
    <button
      fxFlex=""
      fxLayout="column"
      fxLayoutAlign="start stretch"
      (click)="adjustMessageInputRows();">
      <div
        fxLayout="row"
        fxLayoutGap="0.5rem">
        <div fxLayout="column">
          <img [src]="'/assets/phone.' + (foregroundAppearanceObservable | async) + '.svg'" alt="Phone icon">
        </div>
        <div
          fxFlex=""
          fxLayout="column">
          Call
        </div>
      </div>
    </button>
    <button
      fxFlex=""
      fxLayout="column"
      fxLayoutAlign="start stretch"
      (click)="adjustMessageInputRows();">
      <div
        fxLayout="row"
        fxLayoutGap="0.5rem">
        <div fxLayout="column">
          <img [src]="'/assets/mail.' + (foregroundAppearanceObservable | async) + '.svg'" alt="Mail icon">
        </div>
        <div
          fxFlex=""
          fxLayout="column">
          Mail
        </div>
      </div>
    </button>
  </div>
  <div fxLayout="row">
    <div
      class="focus"
      fxFlex=""
      fxLayout="column">
      <div
        fxLayout="row"
        fxLayoutGap="0.5rem">
        <div fxLayout="column">
          <img [src]="'/assets/' + focus + '.' + (foregroundAppearanceObservable | async) + '.svg'" [alt]="focus + ' focus icon'">
        </div>
        <div
          fxFlex=""
          fxLayout="column">
          <span>
            {{ focus }}
          </span>
        </div>
      </div>
    </div>
  </div>
</aside>
<div
  fxFlex="0 1 57rem"
  fxLayout="column">
  <div
    fxLayout="row wrap"
    fxLayoutAlign="center"
    fxLayoutGap="1rem grid"
    style="width: min(100vw - 3rem, 58rem)">
    <div class="image" fxHide fxFlex="0 1 29rem" fxLayout="column"></div>
    <div
      fxFlex="0 1 29rem"
      fxLayout="column"
      fxLayoutGap="1rem">
      <div fxLayout="row">
        <article fxLayout="column">
          <div>
            <h1>
              Postsecondary Education
            </h1>
            <h3 style="margin-bottom: 0;">
              Suffolk University
            </h3>
            <h5 style="margin-top: 0;">
              Fall '19-Spring '23
            </h5>
            <p>
              Gavin is a BSBA candidate double-majoring in Global Business and Big Data and minoring in Cybersecurity.
            </p>
            <p>
              The Sawyer Business School is accredited by AACSB
            </p>
            <h3 style="margin-bottom: 0;">
              Don Quixote Language School
            </h3>
            <h5 style="margin-top: 0;">
              Spring '21
            </h5>
            <p>
              Gavin earned a B1-level certification for intermediate Spanish proficiency while living in Madrid.
            </p>
            <p>
              Don Quixote is accredited by the Cervantes Institute
            </p>
            <h3 style="margin-bottom: 0;">
              Suffolk University Madrid Campus
            </h3>
            <h5 style="margin-top: 0;">
              Spring '20-Fall '20
            </h5>
            <h1>
              Basic Education
            </h1>
            <h3 style="margin-bottom: 0;">
              Saint Joseph Preparatory High School
            </h3>
            <h5 style="margin-top: 0;">
              Fall '15-Spring '19
            </h5>
            <h3 style="margin-bottom: 0;">
              Saint Mary of the Annunciation School
            </h3>
            <h5 style="margin-top: 0;">
              Fall '07-Spring '15
            </h5>
          </div>
        </article>
      </div>
      <div fxLayout="row">
        <article>
          <div>
            <h1>
              Technologies
            </h1>
          </div>
          <h3 style="margin-bottom: 0;">
            HTML, CSS, JavaScript
          </h3>
          <h5 style="margin-top: 0;">
            6 years
          </h5>
          <h3 style="margin-bottom: 0;">
            TypeScript, NodeJS, MongoDB, SQL, Git
          </h3>
          <h5 style="margin-top: 0;">
            4 years
          </h5>
          <h3 style="margin-bottom: 0;">
            Angular, Sass, AWS, RESTful APIs
          </h3>
          <h5 style="margin-top: 0;">
            3 years
          </h5>
          <h3 style="margin-bottom: 0;">
            Google Cloud Platform, Firebase, Amplify
          </h3>
          <h5 style="margin-top: 0;">
            2 years
          </h5>
          <h3 style="margin-bottom: 0;">
            Adobe Illustrator & Photoshop
          </h3>
          <h5 style="margin-top: 0;">
            2 years
          </h5>
        </article>
      </div>
    </div>
  </div>
</div>
