<article>
  <section>
    <h2>
      Open-source projects
    </h2>
    <h3 style="margin-bottom: 0;">
      FirebaseWebAuthn
    </h3>
    <h4>
      <a href="https://github.com/gavinsawyer/firebase-web-authn">repository</a> &bull;
      <a href="https://firebase-web-authn.dev">demo</a>
    </h4>
    <p>
      A Firebase Extension for authentication with WebAuthn passkeys, a new web standard for passwordless authentication. Allows websites built on Google’s app development and cloud platform to use biometric authentication in place of passwords while changing only one line of app code.
    </p>
    <h3 style="margin-bottom: 0;">
      ShortcutsAPI
    </h3>
    <h4>
      <a href="https://github.com/gavinsawyer/shortcuts-api">repository</a>
    </h4>
    <p>
      An API and library of iOS shortcuts used to create highly detailed home automations based on the user's Focus mode, location, and time of day. This project addresses limitations in Apple’s HomeKit system which make it impossible to disable motion-activated lights when the user’s iPhone is in Sleep Focus, for example.
    </p>
  </section>
  <section>
    <h2>
      Education
    </h2>
    <h3 style="margin-bottom: 0;">
      Suffolk University
    </h3>
    <h4>
      Fall '19-Spring '23 &bull; The Sawyer Business School is
      <a href="https://www.aacsb.edu/accredited/s/suffolk-university">accredited</a> by the AACSB.
    </h4>
    <p>
      Gavin is a BSBA candidate double-majoring in Global Business and Analytics and minoring in Cybersecurity. He has taken classes including:
    </p>
    <ul>
      <li>
        <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/sib-strategy-and-international-business/400/sib-419/">Global Business</a>
      </li>
      <li>
        <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/mkt-marketing/400/mkt-421/">Global Marketing</a>
      </li>
      <li>
        <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/ent-entrepreneurship/300/ent-354/">Global Entrepreneurship</a>
      </li>
      <li>
        <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/isom-info-systems-and-operations-management/200/isom-230/">Big Data</a>
      </li>
      <li>
        <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/isom-info-systems-and-operations-management/100/isom-130/">Business Analytics</a>
      </li>
      <li>
        <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/mkt-marketing/300/mkt-322/">Marketing Analytics</a>
      </li>
      <li>
        <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/isom-info-systems-and-operations-management/300/isom-330/">Applied Statistics</a>
      </li>
      <li>
        <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/ec-economics/400/ec-450/">Applied Econometrics</a>
      </li>
      <li>
        <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/isom-info-systems-and-operations-management/300/isom-340/">Cybersecurity</a>
      </li>
      <li>
        <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/isom-info-systems-and-operations-management/200/isom-240/">Data Privacy</a>
      </li>
      <li>
        <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/fin-finance/400/fin-417/">Multinational Financial Management</a>
      </li>
      <li>
        <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/acct-accounting/100/acct-150/">Fraud Examination</a>
      </li>
    </ul>
    <h3 style="margin-bottom: 0;">
      don Quijote Madrid
    </h3>
    <h4>
      Spring '21 &bull; don Quijote is
      <a href="https://acreditacion.cervantes.es/centros_espana.htm#madrid">accredited</a> by the Cervantes Institute.
    </h4>
    <p>
      Gavin earned a B1-level certification for intermediate Spanish proficiency in Madrid during a semester of online classes.
    </p>
    <h3 style="margin-bottom: 0;">
      Suffolk University Madrid Campus
    </h3>
    <h4>
      Spring '20-Fall '20
    </h4>
    <p>
      Gavin studied abroad for two semesters, taking classes on Spanish
      <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/span-spanish/200/span-201/">language</a> and
      <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/hst-history/300/hst-357/">history</a> alongside
      <a href="https://suffolk.smartcatalogiq.com/en/2021-2022/catalog/courses/sib-strategy-and-international-business/300/sib-321/">international business</a>,
      <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/cjn-communication-and-journalism/200/cjn-216/">intercultural communication</a>,
      <a href="https://suffolk.smartcatalogiq.com/en/2021-2022/catalog/courses/ec-economics/100/ec-102/">macroeconomics</a>,
      <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/ble-business-law-and-ethics/200/ble-214/">business law</a>, and
      <a href="https://suffolk.smartcatalogiq.com/2021-2022/catalog/courses/acct-accounting/200/acct-202/">accounting</a>.
    </p>
    <h3 style="margin-bottom: 0;">
      Saint Joseph Preparatory High School
    </h3>
    <h4>
      Fall '15-Spring '19
    </h4>
    <p>
      In high school, Gavin was involved in art and robotics and became interested in his major from taking AP Statistics.
    </p>
  </section>
  <section>
    <h2>
      Familiar technologies
    </h2>
    <p>
      Gavin has been self-teaching software development since Summer 2014.
    </p>
    <h3 style="margin-bottom: 0;">
      HTML, CSS, JavaScript
    </h3>
    <h4>
      {{ yearsSinceSummer2014 }} years
    </h4>
    <h3 style="margin-bottom: 0;">
      AWS, RESTful APIs, NodeJS, MongoDB, SQL, Git
    </h3>
    <h4>
      {{ yearsSinceSummer2014 - 2 }} years
    </h4>
    <h3 style="margin-bottom: 0;">
      TypeScript, Angular, Sass
    </h3>
    <h4>
      {{ yearsSinceSummer2014 - 3 }} years
    </h4>
    <h3 style="margin-bottom: 0;">
      Google Cloud Platform, Firebase, Amplify
    </h3>
    <h4>
      {{ yearsSinceSummer2014 - 5 }} years
    </h4>
    <h3 style="margin-bottom: 0;">
      Nx, R, Adobe Illustrator & Photoshop
    </h3>
    <h4>
      {{ yearsSinceSummer2014 - 6 }} years
    </h4>
  </section>
</article>
