<article
  fxFlex="0 1 29rem"
  fxLayout="column">
  <section>
    <h2>
      Privacy
    </h2>
    <p>
      Messages sent on this site are not encrypted. This site stores information in your browser to improve your experience. Activity is shared with third parties listed below.
    </p>
    <h3 style="margin-bottom: 0;">
      Google
    </h3>
    <h4>
      <a href="https://www.google.com/intl/en/policies/privacy/">privacy policy</a> • <a href="https://www.google.com/intl/en/policies/terms/">terms</a>
    </h4>
    <p>
      This site is protected by <a href="https://www.google.com/recaptcha/">reCAPTCHA</a> and uses <a href="https://www.google.com/analytics/">Google Analytics</a>. If you have turned on Google's <a href="https://myadcenter.google.com/">Ads Personalization</a> and are signed in on this browser, your engagement with this site may be tracked across devices. Personally identifiable information is not transmitted between this site and Google.
    </p>
  </section>
</article>
