<main
  fxLayout="row"
  fxLayoutAlign="center">
  <div
    fxLayout="column"
    fxLayoutAlign="start stretch">
    <header
      fxLayout="row"
      fxLayoutAlign="center"
      [ngClass]="{'raised': ((responsivityService.scrollPositionObservable | async) || 0) > 16}">
      <div fxLayout="column">
        <h1 style="margin-bottom: 0; text-align: center;">
          <a routerLink="" routerLinkActive="" #routerLinkActive="routerLinkActive" [routerLinkActiveOptions]="{'exact': true}" [ngClass]="{'active': routerLinkActive.isActive}">Gavin Sawyer</a>
        </h1>
        <h2 style="margin-top: 0; text-align: center;">
          Boston
        </h2>
      </div>
    </header>
    <div
      [fxLayout]="(responsivityService.getBreakpointObservable(51.580078125) | async) ? 'column' : 'row'"
      fxLayoutAlign="center"
      fxLayoutGap="1rem">
      <portfolio-aside [fxFlex]="(responsivityService.getBreakpointObservable(51.580078125) | async) ? '' : '17.56rem'"></portfolio-aside>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
<footer
  fxLayout="row wrap"
  fxLayoutAlign="end">
  <div fxLayout="column">
    <ul>
      <li>
        <a [routerLink]="'privacy'">Privacy</a>
      </li>
    </ul>
  </div>
</footer>
