<nav
  fxLayout="row wrap"
  fxLayoutGap="1rem grid">
  <div
    fxLayout="column"
    fxFlex="calc(100% - 1rem)">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between">
      <div fxLayout="column">
        <h1 style="margin-bottom: 0">
          Gavin Sawyer
        </h1>
        <h3 style="margin-top: 0">
          Boston
        </h3>
      </div>
    </div>
  </div>
</nav>
<main
  fxLayout="row wrap"
  fxLayoutGap="1rem grid"
  fxFlex="100%">
  <router-outlet></router-outlet>
</main>
<footer
  fxLayout="row wrap"
  fxLayoutGap="2rem grid">
  <div
    fxLayout="column"
    fxFlex="calc(100% - 1rem) 1 1">
    <ul>
      <li>
        <a href="https://instagram.com/gavinsawyer">Instagram</a>
      </li>
    </ul>
  </div>
</footer>
