<main
  fxFlex="grow"
  fxLayout="row"
  fxLayoutAlign="center">
  <div
    fxLayout="column"
    fxLayoutAlign="start stretch">
    <header
      fxLayout="row"
      fxLayoutAlign="center">
      <div fxLayout="column">
        <h1 style="margin-bottom: 0; text-align: center;">
          Gavin Sawyer
        </h1>
        <h3 style="margin-top: 0; text-align: center;">
          Boston
        </h3>
      </div>
    </header>
    <router-outlet></router-outlet>
  </div>
</main>
<footer
  fxHide
  fxLayout="row wrap">
  <div fxLayout="column">
    <ul>
      <li>
        <a href="https://linkedin.com/in/gavinsawyer-dev">LinkedIn</a>
      </li>
      <li>
        <a href="https://instagram.com/gavinsawyer">Instagram</a>
      </li>
    </ul>
  </div>
</footer>
